@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
body {
    background-color: white;
    color: black;
    font-family: 'Krona One', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#navbar {
    margin-top: 2%;
    background-color: white;
    height: 4vh;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.navLogoButton {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
}

.navLogo {
    height: 0px;
    border: 1.5px solid rgb(0, 0, 0);
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background: #fff;
}

.navLogoButton:hover {
    transition-delay: 100ms;
    transform: scale(1.1);
}

.navLogoButton:hover .navLogo:nth-child(3):before {
    width: 2px;
    height:2px;
    border-radius: 50%;
    background: #F26451;
}

.navLogoButton:hover div {
    border: 2px solid rgb(141, 0, 0);
    height: 9px;
    border-radius: 50%;
    margin-left: -1px;
    margin-top: 2px;
    animation: atom 300ms linear 1;
    width: 25px;
    top: 0px;
    background: transparent;
}

.navLogoButton:focus {
    outline: 0px;
}

.navLogo:nth-child(1) {
    top: 0px;
}

.navLogo:nth-child(2) {
    top: 8px;
}

.navLogo:nth-child(3) {
    top: 16px;
}

.navLogo:nth-child(3):before {
    opacity: 0;
    animation: ball 1.5s linear infinite;
    content: '';
    border: 2px solid #fff;
    display: block;
    position: relative;
    top: 0.25px;
}

.navLogoButton:hover .navLogo:nth-child(1) {
    transform: rotate(-33deg);
}

.navLogoButton:hover .navLogo:nth-child(2) {
    transform: rotate(90deg);
}

.navLogoButton:hover .navLogo:nth-child(3) {
    transform: rotate(33deg);
}

.navLogoButton:hover .navLogo:nth-child(3):before {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
    ;
}

.navLogoButton:active:hover .navLogo:nth-child(3):before,
.navLogoButton:active .navLogo:nth-child(3):before,
.navLogoButton:active .navLogo:nth-child(2) {
    opacity: 0;
    transition: all 1000ms;
}

.navLogoButton:active div {
    border: 1.5px solid rgb(141, 0, 0);
    height: 0px;
    border-radius: 0%;
    margin-left: -1px;
    margin-top: 6px;
    animation: division 300ms linear 1;
    width: 25px;
    top: 0px;
}

.navLogoButton:active .navLogo:nth-child(2) {
    width: 0px;
}

.navLogoButton:active .navLogo:nth-child(3) {
    transform: rotate(45deg);
}

.navLogoButton:active .navLogo:nth-child(1) {
    transform: rotate(-45deg);
}

@keyframes atom {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes division {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }

    10% {
        left: 10%;
        top: -35%;
    }

    25% {
        left: 45%;
        top: -50%;
    }

    40% {
        left: 80%;
        top: -20%;
    }

    50% {
        left: 98%;
        top: 18%;
    }

    60% {
        left: 80%;
        top: 50%;
    }

    75% {
        left: 45%;
        top: 80%;
    }

    90% {
        left: 0%;
        top: 60%;
    }

    100% {
        left: -20%;
        top: 10%;
    }
}

.header {
    margin-top: 3%;
    text-align: right;
    width: 20%;
}
/* #headTextCon{
    width: 10%;
} */

#bodyCon {
    margin-top: 5%;
}

#mbjumbo {
    margin-top: 5%;
    background-image: url('./images/ravenspicluke.JPG');
    background-position-y: 85%;
    background-size: cover;
    background-repeat: no-repeat;
}


#f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;

}

#footer {
    text-align: center;
    padding-bottom: 7%;
    margin-top: 7%;
    padding-top: 7%;
    background-color: black;
    color: white;
    width: 100vw;
}
#cardBg{
    background-color: rgba(2, 65, 18, 0);
    width: 50vw;
    height: 30vh;
    margin: auto;
}
#mbTextCon:hover{
background-color: rgba(39, 38, 38, 0.719);
}
#SSLogo{
    height: 10vh;
}
/* .footerContent{
    margin-top: 2%;
    text-align: center;
} */


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #sidebarBtn{
    color:white;    
margin-left: 35%;
    font-size: 2rem;
  }