body {
    background-color: black;
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#navbar {
    margin-top: 2%;
    background-color: black;
    height: 4vh;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.navLogoButton {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
}

.navLogo {
    height: 0px;
    border: 1.5px solid #fff;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background: #fff;
}

.navLogoButton:hover {
    transition-delay: 100ms;
    transform: scale(1.1);
}

.navLogoButton:hover .navLogo:nth-child(3):before {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #F26451;
}

.navLogoButton:hover div {
    border: 2px solid #fff;
    height: 9px;
    border-radius: 50%;
    margin-left: -1px;
    margin-top: 2px;
    animation: atom 300ms linear 1;
    width: 25px;
    top: 0px;
    background: transparent;
}

.navLogoButton:focus {
    outline: 0px;
}

.navLogo:nth-child(1) {
    top: 0px;
}

.navLogo:nth-child(2) {
    top: 8px;
}

.navLogo:nth-child(3) {
    top: 16px;
}

.navLogo:nth-child(3):before {
    opacity: 0;
    animation: ball 1.5s linear infinite;
    content: '';
    border: 2px solid #fff;
    display: block;
    position: relative;
    top: 0.25px;
}

.navLogoButton:hover .navLogo:nth-child(1) {
    transform: rotate(-33deg);
}

.navLogoButton:hover .navLogo:nth-child(2) {
    transform: rotate(90deg);
}

.navLogoButton:hover .navLogo:nth-child(3) {
    transform: rotate(33deg);
}

.navLogoButton:hover .navLogo:nth-child(3):before {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
    ;
}

.navLogoButton:active:hover .navLogo:nth-child(3):before,
.navLogoButton:active .navLogo:nth-child(3):before,
.navLogoButton:active .navLogo:nth-child(2) {
    opacity: 0;
    transition: all 200ms;
}

.navLogoButton:active div {
    border: 1.5px solid #fff;
    height: 0px;
    border-radius: 0%;
    margin-left: -1px;
    margin-top: 6px;
    animation: division 300ms linear 1;
    width: 25px;
    top: 0px;
}

.navLogoButton:active .navLogo:nth-child(2) {
    width: 0px;
}

.navLogoButton:active .navLogo:nth-child(3) {
    transform: rotate(45deg);
}

.navLogoButton:active .navLogo:nth-child(1) {
    transform: rotate(-45deg);
}

@keyframes atom {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes division {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }

    10% {
        left: 10%;
        top: -35%;
    }

    25% {
        left: 45%;
        top: -50%;
    }

    40% {
        left: 80%;
        top: -20%;
    }

    50% {
        left: 98%;
        top: 18%;
    }

    60% {
        left: 80%;
        top: 50%;
    }

    75% {
        left: 45%;
        top: 80%;
    }

    90% {
        left: 0%;
        top: 60%;
    }

    100% {
        left: -20%;
        top: 10%;
    }
}

.header {
    margin-top: 5%;
    text-align: center;
}

#bodyCon {
    margin-top: 5%;
}

#mbjumbo {
    margin-top: 5%;
    background-image: url('./images/ravenspicluke.JPG');
    background-position-y: 85%;
    background-size: cover;
    background-repeat: no-repeat;
}


#f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;

}

#footer {
    text-align: center;
}
#cardBg{
    background-color: rgba(2, 65, 18, 0);
    width: 50vw;
    height: 30vh;
    margin: auto;
}