/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
    background-color: white;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    overflow-x: hidden;
}

#theNav {
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-color: rgba(255, 255, 255, 0.712) !important;
    color: black !important;
}

#navBurger {
    background-color: transparent;
    font-size: 2rem;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(0, 0, 0, 0.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #030303;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.rotate.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



.header {
    text-align: center;
    color: white;
    text-shadow: #FC0 1px 0 10px;
}

/* #headTextCon{
    width: 10%;
} */

#bodyCon {
    margin-top: 5%;
}

#mbjumbo {
    margin-top: 5%;
    background: linear-gradient(0deg, rgba(4, 196, 52, 0.3), rgba(1, 105, 19, 0.664)), url('./images/ravenspicluke.JPG');
    /* background-image: url('./images/ravenspicluke.JPG'); */
    background-position-y: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
}


#f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;

}

#footer {
    text-align: center;
    padding-bottom: 7%;
    margin-top: 7%;
    padding-top: 7%;
    background-color: black;
    color: white;
    width: 100vw;
}

#cardBg {
    background-color: rgba(2, 65, 18, 0);
    width: 50vw;
    height: 30vh;
    margin: auto;
}


#SSLogo {
    height: 10vh;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }


}

.nav-link {
    width: 100%;
    display: inline-block;
}

.mbTextCon {
    color: transparent;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 10%;
    /* background-color: green; */
    background: linear-gradient(0deg, rgba(1, 116, 30, 0.589), rgba(1, 105, 18, 0.712)), url('./images/BlackLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    padding: 7%;
    height: 30vh;
    width: 35vw;
    word-wrap: break-word;
    transition: all 1.5s ease,
        padding 0.8s linear;
    -webkit-transition: background-color all 1.5s ease,
        padding 0.8s linear;
    -moz-transition: background-color all 1.5s ease,
        padding 0.8s linear;
    -o-transition: background-color all 1.5s ease,
        padding 0.8s linear;
    /* font-size: .5rem; */
}

.mbTextCon:hover {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(1, 105, 18)), url('./images/BlackLogo.png');
    /* background-color: white; */
    color: black;
}

.headerLink {
    color: black;
    text-align: center;
}

.inTextLink {
    color: green;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}

.inTextLink:hover {
    text-shadow: #FC0 1px 0 10px;
    color: green;
}

.headerLink:hover {
    text-shadow: #FC0 1px 0 10px;
    color: green;
}

#getCompliant {
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: rgba(247, 250, 255, 0.26);
    padding-left: 15%;
    padding-right: 15%;

    -webkit-animation: flyInLeft 5s forwards;
    /* Safari 4+ */
    -moz-animation: flyInLeft 5s forwards;
    /* Fx 5+ */
    -o-animation: flyInLeft 5s forwards;
    /* Opera 12+ */
    animation: flyInLeft 5s forwards;
    /* IE 10+, Fx 29+ */
}

@-webkit-keyframes flyInLeft {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes flyInLeft {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes flyInLeft {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

#visualTextGrid {
    margin-top: 5%;
    background-color: rgba(247, 250, 255, 0.26);
}

.faqHeader {
    text-align: center;
}

#products {
    margin-top: 5%;
    text-align: center;

    /* -webkit-animation: flyInRight 5s forwards;
    -moz-animation: flyInRight 5s forwards;
    -o-animation: flyInRight 5s forwards;
    animation: flyInRight 5s forwards; */

}

.modalBodyText {
    text-align: left;
}

@-webkit-keyframes flyInRight {
    0% {
        transform: translateX(900px);
    }

    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes flyInRight {
    0% {
        transform: translateX(900px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes flyInRight {
    0% {
        transform: translateX(900px);
    }

    100% {
        transform: translateX(0);
    }
}

.factLeft {
    -webkit-animation: flyInLeft 5s forwards;
    /* Safari 4+ */
    -moz-animation: flyInLeft 5s forwards;
    /* Fx 5+ */
    -o-animation: flyInLeft 5s forwards;
    /* Opera 12+ */
    animation: flyInLeft 5s forwards;
    /* IE 10+, Fx 29+ */
}

.factRight {
    -webkit-animation: flyInRight 5s forwards;
    /* Safari 4+ */
    -moz-animation: flyInRight 5s forwards;
    /* Fx 5+ */
    -o-animation: flyInRight 5s forwards;
    /* Opera 12+ */
    animation: flyInRight 5s forwards;
    /* IE 10+, Fx 29+ */
}

.nav-link:hover {
    color: green !important;

}

.productsHeader {
    text-align: center;
    margin-bottom: 10%;

}

#btnDiv {
    margin: auto;
    display: flex;
    justify-content: center;
}

#getQuoteButton {
    margin: 2%;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
}

#getQuoteButton:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color: #72b352;
}

#getQuoteButton:active {
    position: relative;
    top: 1px;
}



.iconHolder {
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(74, 226, 112), rgba(1, 105, 18, 0.925)), url('./images/BlackLogo.png');
    height: 5rem;
    width: 5rem;
    display: inline-block;
    margin-bottom: 2.5%;
    cursor: pointer;
    border: 1px solid #012880;
    background-image: linear-gradient(-180deg, rgb(2, 126, 29) 0%, rgb(228, 206, 15) 100%);
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5),
        0 -0.25rem 1.5rem rgba(2, 138, 54, 0.966) inset,
        0 0.75rem 0.5rem rgba(158, 158, 158, 0.4) inset,
        0 0.25rem 0.5rem 0 rgb(0, 0, 0) inset;
    font-size: 2rem;
}

.iconHolder:hover {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgba(1, 105, 18, 0.925)), url('./images/BlackLogo.png');
}

#productIcon {
    padding-top: 0%;
}

#auditModalLabel {
    text-align: center;
    margin: auto;
}

.modal-body {
    /* background-color: green; */
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.815)), url('./images/BlackLogo.png'); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.exitBtn {
    background-color: black;
    color: white;
}

.learnBtn {
    background-color: green;
    color: white;
}

#RemediationModalLabel {
    text-align: center;
    margin: auto;
}

#ConsultingModalLabel {
    text-align: center;
    margin: auto;
}

/* products page  */
#ppCon1 {
    margin-top: 5%;
    background-color: black;
    height: 100vh;
    width: 100vw;

}

#cardHolder {
    margin-left: 5%;
}

.hidden {
    display: none;
}

#changeableDiv {
    margin-top: 3%;
    border: #030303 solid 1px;
    width: 90vh;
    padding: 5%;
    border-radius: 25px;

}

.showMeDown {
    transition: all .5s ease-in-out;
    height: 0;
}

.showMeDown:target {
    height: 50px;
}

/* calculator page begin */

#calculatorBody {
    /* height: 100vh; */
    width: 100vw;
    background-image: url('./images/darkhand.jpeg');
    background-size: 100vh;
    overflow: auto;
    padding-bottom: 25%;
}

#calculator {
    /* position: relative; */
    margin-top: 10%;
    background-color: white;
    padding-bottom: 3%;
}

.calcHeader,
.calcHeadText {
    text-align: center;
}

.calcHeadDis {
    color: grey;
    font-size: 10px;
    text-align: center;
}

#resultsDiv {
    margin-top: 3%;
    border: black solid 1px;
    margin-bottom: 3%;
}

.noStyleLink {
    color: green;
}

.btnlink {
    color: white;
}

.btnlink:hover {
    color: black;
    text-shadow: #FC0 1px 0 10px;
}

/* calculator page end */